body {
  overflow-x: hidden;
}

.root {
  background-image: linear-gradient(
    to right,
    rgb(67, 8, 229),
    rgb(147, 1, 214)
  );
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

/* ---------navbar-part------------- */

.navbar {
  max-width: 1500px;
  height: 4rem;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  overflow-x: hidden;
}

.logo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.navbar-ul li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}

/* /--------menu-bar-----------/ */

.menu-bar {
  cursor: pointer;
  display: none;
  background-color: rgba(255, 255, 255, 0.218);
  padding: 8px;
}

.burger {
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 3px;
}
/* ---------banner---------- */
.root-wraper {
  /* background-color: pink; */
  max-width: 1000px;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
  gap: 4rem;
  flex-wrap: wrap;
}

.text-root {
  /* background: rgb(0, 87, 0); */
  width: 300px;
  padding: 20px;
}

.text-root h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-transform: capitalize;
}

.text-root p {
  color: rgba(255, 255, 255, 0.781);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 8px;
}

.root-btn-text {
  margin-top: 20px;
}
.root-btn-text button {
  background-color: rgb(255, 213, 0);
  border: none;
  outline: none;
  padding: 10px 30px 10px;
  color: rgba(0, 0, 0, 0.796);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 50px;
  transition: 0.4s;
}
.root-btn-text button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.img-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------- */
@media screen and (max-width: 500px) {
  .right-menu {
    position: absolute;

    width: 100%;
    height: auto;
    right: 0;

    top: 70px;
    background-color: rgb(255, 255, 255);

    display: none;
    z-index: 2;
  }

  .right-menu.nav-toggle {
    display: block;
  }

  .navbar-ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding: 30px;
  }

  .navbar-ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
  }

  .menu-bar {
    cursor: pointer;
    display: block;
  }

  .img-root {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .text-root h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
  }

  .text-root p {
    color: rgba(255, 255, 255, 0.781);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
  }

  .root-btn-text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
